body {
    background-color: cyan;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.cool-header {
    background-color: brown;
    height: 20VH;
    width: 100%;
}

.lefty {
    background-color: darkgray;
    float: left;
    height: 100vh;
    width: 10%;
}

.right {
    background-color: darkgray;
    float: right;
    height: 100vh;
    width: 10%;
}

.foot {
    background-color: brown;
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    
    
}
